    <!-- Content Description -->
    <meta charset="utf-8">
    <title>{% include title.lqd %}</title>
    <meta name="description" content="{% include description.lqd %}">

{% include open-graph.html %}

    <!-- Presentation -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cover.css">
