---
layout: default
---
    <link href="/css/cover.css" rel="stylesheet">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="">
              <h3 class="masthead-brand">{{ site.title }}</h3>
                {% include menu.html %}
            </div>
          </div>

          <div class="inner cover content-container">
            <h1 class="cover-heading">{{ page.heading }}</h1>

            {{ content }}

          </div>
        </div>
      </div>
    </div>
